<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <base th:href="@{/}">
    <meta charset="UTF-8">

    <link href="jquery/bootstrap_3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="jquery/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css" rel="stylesheet">

    <script src="jquery/jquery-1.11.1-min.js"></script>
    <script src="jquery/bootstrap_3.3.0/js/bootstrap.min.js"></script>
    <script src="jquery/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.min.js"></script>
    <script src="jquery/bootstrap-datetimepicker-master/locale/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="jquery/bs_typeahead/bootstrap3-typeahead.min.js"></script>

    <script th:inline="javascript">

        $(function () {
            // ================ 入口函数 start ================

            // 日期选择插件
            $(".date-time").datetimepicker({
                language: "zh-CN",
                format: "yyyy-mm-dd",
                minView: "month",
                initialDate: new Date(),
                autoclose: true,
                todayBtn: true,
                clearBtn: true
            });

            // 实现市场活动源搜索
            $("#search-activity").click(function () {
                // 清空表单内容
                $("#search-activityFrom").get(0).reset();
                // 展示模态窗口
                $("#findMarketActivity").modal("show");

            })
            // 实现市场活动源搜索功能
            $("#search-activityName").keydown(function (event) {
                if (event.key === "Enter") {
                    // 收集参数
                    let activityName = this.value;
                    // 发送请求
                    $.ajax({
                        url: "workbench/transaction/queryActivityByName",
                        type: "get",
                        dataType: "json",
                        data: {
                            name: activityName
                        },
                        success: resp => {
                            // 将数据展示到模态窗口
                            let htmlStr = "";
                            $.each(resp, function (i, v) {
                                htmlStr += "<tr>";
                                htmlStr += "<td><input name=\"activity\" type=\"radio\" activityName=\"" + v.name + "\" value=\"" + v.id + "\"/></td>";
                                htmlStr += "<td>" + v.name + "</td>";
                                htmlStr += "<td>" + v.startDate + "</td>";
                                htmlStr += "<td>" + v.endDate + "</td>";
                                htmlStr += "<td>" + v.owner + "</td>";
                                htmlStr += "</tr>";
                            });
                            $("#activityTbody").html(htmlStr);
                        }
                    })
                }
            })

            // 实现市场活动源 单选按钮单击事件
            $("#activityTbody").on("click", "input[type='radio']", function () {
                // 收集参数
                let id = this.value;
                let activityName = $(this).attr("activityName");
                // 设置参数
                $("#activityId").val(id);
                $("#create-activityName").val(activityName);
                // 关闭模态窗口
                $("#findMarketActivity").modal("hide");
            })

            // 实现联系人搜索
            // 搜索按钮打开模态窗口
            $("#search-contacts").click(function () {
                // 清空表单内容
                $("#search-contactsFrom").get(0).reset();
                // 展示模态窗口
                $("#findContacts").modal("show");
            })
            // 搜索框功能实现
            $("#search-contactsName").keydown(function (event) {
                if (event.key === "Enter") {
                    // 收集参数
                    let contactsName = this.value;
                    // 发送请求
                    $.ajax({
                        url: "workbench/transaction/queryContactsByFullName",
                        type: "get",
                        dataType: "json",
                        data: {
                            fullName: contactsName
                        },
                        success: resp => {
                            let htmlStr = "";
                            $.each(resp, function (i, v) {
                                htmlStr += "<tr>";
                                htmlStr += "<td><input name=\"contacts\" type=\"radio\" value=\"" + v.id + "\" contactsFullName=\"" + v.fullName + "\"/></td>";
                                htmlStr += "<td>" + v.fullName + "</td>";
                                htmlStr += "<td>" + v.email + "</td>";
                                htmlStr += "<td>" + v.mPhone + "</td>";
                                htmlStr += "</tr>";
                            })
                            $("#contactsTbody").html(htmlStr);
                        }
                    })
                }
            })

            // 实现单选按钮功能
            $("#contactsTbody").on("click", "input[type='radio']", function () {
                // 收集参数
                let id = this.value;
                let fullName = $(this).attr("contactsFullName");
                // 设置参数
                $("#contactsId").val(id);
                $("#create-contactsName").val(fullName);
                // 关闭模态窗口
                $("#findContacts").modal("hide");
            })

            // 可能性功能实现
            $("#create-stage").change(function () {
                let stage = $(this).find("option:selected").text()
                if (stage === "") {
                    $("#create-possibility").val("");
                    return;
                }
                $.ajax({
                    url: "workbench/transaction/getPossibilityByStage",
                    type: "get",
                    dataType: "json",
                    data: {
                        stage: stage
                    },
                    success: resp => {
                        $("#create-possibility").val(resp + "%");
                    }
                })
            })

            // 客户名自动填充 自动填充插件
            $("#create-customerName").typeahead({
                // 键盘弹起会自动触发该函数
                source: (jquery, process) => {
                    // 发送请求
                    $.ajax({
                        url: "workbench/customer/queryAllCustomerName",
                        type: "get",
                        data: {
                            name: jquery
                        },
                        dataType: "json",
                        success: (res) => {
                            let nameList = [];
                            $.each(res, (i, v) => {
                                nameList.push(v.name);
                            })
                            process(nameList);
                        }
                    })
                }
            });

            // 实现保存功能
            $("#saveBtn-tran").click(function () {
                // 参数收集
                // 所有者
                let owner = $("#create-owner").val();
                // 金额
                let money = $.trim($("#create-money").val());
                // 名称
                let name = $.trim($("#create-name").val());
                // 预计成交日期
                let expectedDate = $("#create-expectedDate").val();
                // 客户名称
                let customerId = $.trim($("#create-customerName").val());
                // 阶段
                let stage = $("#create-stage").val();
                // 类型
                let type = $("#create-type").val();
                // 来源
                let source = $("#create-source").val();
                // 市场活动源
                let activityId = $("#activityId").val();
                // 联系人名称
                let contactsId = $("#contactsId").val();
                // 描述
                let description = $.trim($("#create-description").val());
                // 联系纪要
                let contactSummary = $.trim($("#create-contactSummary").val());
                // 下次联系时间
                let nextContactTime = $("#create-nextContactTime").val();

                // 参数合法性判断
                let moneyRegExp = /^[1-9]\d*|0$/
                if (money !== "" && !moneyRegExp.test(money)) {
                    alert("金额只能是正整数");
                    return;
                }
                if (name === "") {
                    alert("名称不能为空!");
                    return;
                }
                if (expectedDate === "") {
                    alert("预计成交日期不能为空!");
                    return;
                }
                if (customerId === "") {
                    alert("客户名称不能为空!");
                    return;
                }
                if (stage === "") {
                    alert("阶段不能为空!");
                    return;
                }

                // 发起请求
                $.ajax({
                    url: "workbench/transaction/saveCreateTran",
                    type: "post",
                    data: {
                        owner: owner,
                        money: money,
                        name: name,
                        expectedDate: expectedDate,
                        customerId: customerId,
                        stage: stage,
                        type: type,
                        source: source,
                        activityId: activityId,
                        contactsId: contactsId,
                        description: description,
                        contactSummary: contactSummary,
                        nextContactTime: nextContactTime
                    },
                    dataType: "json",
                    success: (res) => {
                        if (res.status === "1") {
                            // 成功
                            window.location.href="workbench/transaction/";
                        } else {
                            // 失败
                            alert(res.message);
                        }
                    }
                })

            });

            // ================ 入口函数 end ================
        });
    </script>

</head>
<body>

<!-- 查找市场活动 -->
<div class="modal fade" id="findMarketActivity" role="dialog">
    <div class="modal-dialog" role="document" style="width: 80%;">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">查找市场活动</h4>
            </div>
            <div class="modal-body">
                <div class="btn-group" style="position: relative; top: 18%; left: 8px;">
                    <form class="form-inline" role="form" id="search-activityFrom">
                        <input type="text" style="display: none;">
                        <div class="form-group has-feedback">
                            <input type="hidden" id="activityId">
                            <input class="form-control" placeholder="请输入市场活动名称，支持模糊查询" style="width: 300px;"
                                   type="text" id="search-activityName">
                            <span class="glyphicon glyphicon-search form-control-feedback"></span>
                        </div>
                    </form>
                </div>
                <table class="table table-hover" id="activityTable"
                       style="width: 900px; position: relative;top: 10px;">
                    <thead>
                    <tr style="color: #B3B3B3;">
                        <td></td>
                        <td>名称</td>
                        <td>开始日期</td>
                        <td>结束日期</td>
                        <td>所有者</td>
                    </tr>
                    </thead>
                    <tbody id="activityTbody">

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- 查找联系人 -->
<div class="modal fade" id="findContacts" role="dialog">
    <div class="modal-dialog" role="document" style="width: 80%;">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">查找联系人</h4>
            </div>
            <div class="modal-body">
                <div class="btn-group" style="position: relative; top: 18%; left: 8px;">
                    <form class="form-inline" role="form" id="search-contactsFrom">
                        <input type="text" style="display: none;">
                        <div class="form-group has-feedback">
                            <input type="hidden" id="contactsId">
                            <input class="form-control" placeholder="请输入联系人名称，支持模糊查询" style="width: 300px;" type="text"
                                   id="search-contactsName">
                            <span class="glyphicon glyphicon-search form-control-feedback"></span>
                        </div>
                    </form>
                </div>
                <table class="table table-hover" id="contactsTable" style="width: 900px; position: relative;top: 10px;">
                    <thead>
                    <tr style="color: #B3B3B3;">
                        <td></td>
                        <td>名称</td>
                        <td>邮箱</td>
                        <td>手机</td>
                    </tr>
                    </thead>
                    <tbody id="contactsTbody">

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div style="position:  relative; left: 30px;">
    <h3>创建交易</h3>
    <div style="position: relative; top: -40px; left: 70%;">
        <button class="btn btn-primary" type="button" id="saveBtn-tran">保存</button>
        <button class="btn btn-default" type="button">取消</button>
    </div>
    <hr style="position: relative; top: -40px;">
</div>
<form class="form-horizontal" role="form" style="position: relative; top: -30px;">
    <div class="form-group">
        <label class="col-sm-2 control-label" for="create-owner">所有者<span
                style="font-size: 15px; color: red;">*</span></label>
        <div class="col-sm-10" style="width: 300px;">
            <select class="form-control" id="create-owner">
                <option th:each="user:${userList}" th:value="${user.id}" th:text="${user.name}"></option>
            </select>
        </div>
        <label class="col-sm-2 control-label" for="create-money">金额</label>
        <div class="col-sm-10" style="width: 300px;">
            <input class="form-control" id="create-money" type="text">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="create-name">名称<span
                style="font-size: 15px; color: red;">*</span></label>
        <div class="col-sm-10" style="width: 300px;">
            <input class="form-control" id="create-name" type="text">
        </div>
        <label class="col-sm-2 control-label" for="create-expectedDate">预计成交日期<span
                style="font-size: 15px; color: red;">*</span></label>
        <div class="col-sm-10" style="width: 300px;">
            <input class="form-control date-time" id="create-expectedDate" type="text" readonly>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="create-customerName">客户名称<span
                style="font-size: 15px; color: red;">*</span></label>
        <div class="col-sm-10" style="width: 300px;">
            <input class="form-control" id="create-customerName" placeholder="支持自动补全，输入客户不存在则新建" type="text">
        </div>
        <label class="col-sm-2 control-label" for="create-stage">阶段<span
                style="font-size: 15px; color: red;">*</span></label>
        <div class="col-sm-10" style="width: 300px;">
            <select class="form-control" id="create-stage">
                <option></option>
                <option th:each="stage:${stageList}" th:text="${stage.value}" th:value="${stage.id}"></option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="create-type">类型</label>
        <div class="col-sm-10" style="width: 300px;">
            <select class="form-control" id="create-type">
                <option></option>
                <option th:each="transactionType:${transactionTypeList}" th:text="${transactionType.value}"
                        th:value="${transactionType.id}"></option>
            </select>
        </div>
        <label class="col-sm-2 control-label" for="create-possibility">可能性</label>
        <div class="col-sm-10" style="width: 300px;">
            <input class="form-control" id="create-possibility" type="text" readonly>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="create-source">来源</label>
        <div class="col-sm-10" style="width: 300px;">
            <select class="form-control" id="create-source">
                <option></option>
                <option th:each="source:${sourceList}" th:value="${source.id}"
                        th:text="${source.value}"></option>
            </select>
        </div>
        <label class="col-sm-2 control-label" for="create-activityName">市场活动源&nbsp;&nbsp;<a
                href="javascript:void(0);" id="search-activity"><span
                class="glyphicon glyphicon-search"></span></a></label>
        <div class="col-sm-10" style="width: 300px;">
            <input class="form-control" id="create-activityName" type="text" readonly>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="create-contactsName">联系人名称&nbsp;&nbsp;
            <a id="search-contacts" href="javascript:void(0);">
                <span class="glyphicon glyphicon-search"></span>
            </a>
        </label>
        <div class="col-sm-10" style="width: 300px;">
            <input class="form-control" id="create-contactsName" type="text" readonly>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="create-description">描述</label>
        <div class="col-sm-10" style="width: 70%;">
            <textarea class="form-control" id="create-description" rows="3"></textarea>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="create-contactSummary">联系纪要</label>
        <div class="col-sm-10" style="width: 70%;">
            <textarea class="form-control" id="create-contactSummary" rows="3"></textarea>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="create-nextContactTime">下次联系时间</label>
        <div class="col-sm-10" style="width: 300px;">
            <input class="form-control date-time" id="create-nextContactTime" type="text" readonly>
        </div>
    </div>

</form>
</body>
</html>