<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <base th:href="@{/}">
    <meta charset="UTF-8">

    <link href="jquery/bootstrap_3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="jquery/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="jquery/bs_pagination-master/css/jquery.bs_pagination.min.css" rel="stylesheet">

    <script src="jquery/jquery-1.11.1-min.js"></script>
    <script src="jquery/bootstrap_3.3.0/js/bootstrap.min.js"></script>
    <script src="jquery/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.min.js"></script>
    <script src="jquery/bootstrap-datetimepicker-master/locale/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="jquery/bs_pagination-master/js/jquery.bs_pagination.min.js"></script>
    <script src="jquery/bs_pagination-master/localization/zh.js"></script>

    <script type="text/javascript" th:inline="javascript">

        $(function () {
            // ========== 入口函数 start ==========


            //定制字段
            $("#definedColumns > li").click(function (e) {
                //防止下拉菜单消失
                e.stopPropagation();
            });

            // 日期选择插件
            $(".date-time").datetimepicker({
                language: "zh-CN",
                format: "yyyy-mm-dd",
                minView: "month",
                initialDate: new Date(),
                autoclose: true,
                todayBtn: true,
                clearBtn: true
            });


            // 实现客户 创建 功能
            $("#createBtn").click(function () {
                // 清空模态窗口内容 弹出模态窗口
                $("#create-customerForm").get(0).reset();
                $("#createCustomerModal").modal("show");
            })

            // 实现创建客户功能
            $("#saveBtn-customer").click(function () {
                // 收集参数
                // 所有者
                let owner = $("#create-customerOwner").val();
                // 名称
                let name = $.trim($("#create-customerName").val());
                // 公司网站
                let website = $.trim($("#create-website").val());
                // 公司座机
                let phone = $.trim($("#create-phone").val());
                // 描述
                let description = $.trim($("#create-describe").val());
                // 联系纪要
                let contactSummary = $.trim($("#create-contactSummary").val());
                // 下次联系时间
                let nextContactTime = $("#create-nextContactTime").val();
                // 详细地址
                let address = $.trim($("#create-address").val());

                // 参数判断
                // 名称
                if (name === "") {
                    alert("名称不能为空!");
                    return;
                }
                //  公司网站格式判断
                let websiteRegExp = /^(?=^.{3,255}$)[a-zA-Z0-9][-a-zA-Z0-9]{0,62}(\.[a-zA-Z0-9][-a-zA-Z0-9]{0,62})+$/
                if (website !== "" && !websiteRegExp.test(website)) {
                    alert("公司网站错误!")
                    return;
                }
                // 公司座机格式判断
                let phoneRegExp = /0\d{2,3}-\d{7,8}/
                if (phone !== "" && !phoneRegExp.test(phone)) {
                    alert("公司座机格式错误!");
                    return;
                }

                // 发送请求
                $.ajax({
                    url: "workbench/customer/saveCreateCustomer",
                    type: "post",
                    dataType: "json",
                    data: {
                        owner: owner,
                        name: name,
                        website: website,
                        phone: phone,
                        description: description,
                        contactSummary: contactSummary,
                        nextContactTime: nextContactTime,
                        address: address
                    },
                    success: resp => {
                        if (resp.status === "1") {
                            // 成功 关闭模态窗口
                            $("#createCustomerModal").modal("hide");
                            // 刷新客户列表
                            queryCustomerByConditionForPage(1, $("#page").bs_pagination('getOption', 'rowsPerPage'));
                        } else {
                            // 失败 提示信息
                            alert(resp.message);
                        }
                    }
                })
            })

            // 实现全选按钮功能
            $("#check-all").click(function () {
                $("#tbody-customerList input[type='checkbox']").prop("checked", this.checked);
            });

            // 实现多选按钮功能
            $("#tbody-customerList").on("click", "input[type = 'checkbox']", function () {
                if ($("#tbody-customerList input[type='checkbox']").size() ===
                    $("#tbody-customerList input[type='checkbox']:checked").size()) {
                    $("#check-all").prop("checked", true);
                } else {
                    $("#check-all").prop("checked", false);
                }
            });

            // 页面加载完毕 默认第一页显示10条记录
            queryCustomerByConditionForPage(1, 10);

            // 实现查询功能
            $("#searchBtn").click(function () {
                queryCustomerByConditionForPage(1, $("#page").bs_pagination('getOption', 'rowsPerPage'));
            })

            // 实现删除功能
            $("#removeBtn").click(function () {
                let $checkedIds = $("#tbody-customerList input[type='checkbox']:checked");
                if ($checkedIds.size() === 0) {
                    alert("请选择要删除的市场活动");
                    return;
                }

                if (window.confirm("确定删除?")) {
                    let ids = "";
                    $.each($checkedIds, function () {
                        ids += "id=" + this.value + "&";
                    });
                    ids = ids.substr(0, ids.length - 1);
                    // 发送请求
                    $.ajax({
                        url: "workbench/customer/removeCustomerByIds",
                        type: "delete",
                        data: ids,
                        dataType: "json",
                        success: function (resp) {
                            if (resp.status === "1") {
                                // 刷新列表
                                queryCustomerByConditionForPage(1, $("#page").bs_pagination('getOption', 'rowsPerPage'));
                            } else {
                                alert(resp.message);
                            }
                        }
                    })
                }
            });

            // 实现修改功能
            $("#modifyBtn").click(function () {

                let checkIds = $("#tbody-customerList input[type='checkbox']:checked");
                if (checkIds.size() === 0) {
                    alert("请选择需要修改的线索");
                    return;
                }
                if (checkIds.size() > 1) {
                    alert("一次只能修改一条线索");
                    return;
                }
                let id = checkIds.val();

                // 清空修改客户模态窗口内容
                $("#modifyCustomer-From").get(0).reset();

                // 发送请求 获取参数 添加到修改模态窗口
                $.ajax({
                    url: "workbench/customer/queryCustomerById",
                    type: "get",
                    data: {
                        id: id
                    },
                    dataType: "json",
                    success: function (resp) {
                        // 填充信息
                        $("#edit-id").val(resp.id);
                        $("#edit-owner").val(resp.owner);
                        $("#edit-name").val(resp.name);
                        $("#edit-website").val(resp.website);
                        $("#edit-phone").val(resp.phone);
                        $("#edit-description").val(resp.description);
                        $("#edit-contactSummary").val(resp.contactSummary);
                        $("#edit-nextContactTime").val(resp.nextContactTime);
                        $("#edit-address").val(resp.address);

                        // 展示修改客户模态窗口
                        $("#editCustomerModal").modal("show");
                    }
                })
            });

            // 实现按更新按钮功能
            $("#updateBtn").click(function () {
                // 收集参数
                let id = $("#edit-id").val();
                let owner = $("#edit-owner").val();
                let name = $.trim($("#edit-name").val());
                let website = $.trim($("#edit-website").val());
                let phone = $.trim($("#edit-phone").val());
                let description = $.trim($("#edit-description").val());
                let contactSummary = $.trim($("#edit-contactSummary").val());
                let nextContactTime = $("#edit-nextContactTime").val();
                let address = $.trim($("#edit-address").val());

                // 参数判断
                // 名称
                if (name === "") {
                    alert("名称不能为空!");
                    return;
                }
                //  公司网站格式判断
                let websiteRegExp = /^(?=^.{3,255}$)[a-zA-Z0-9][-a-zA-Z0-9]{0,62}(\.[a-zA-Z0-9][-a-zA-Z0-9]{0,62})+$/
                if (website !== "" && !websiteRegExp.test(website)) {
                    alert("公司网站错误!")
                    return;
                }
                // 公司座机格式判断
                let phoneRegExp = /0\d{2,3}-\d{7,8}/
                if (phone !== "" && !phoneRegExp.test(phone)) {
                    alert("公司座机格式错误!");
                    return;
                }

                // 发送请求
                $.ajax({
                    url: "workbench/customer/modifyCustomerById",
                    type: "put",
                    data: {
                        id: id,
                        owner: owner,
                        name: name,
                        website: website,
                        phone: phone,
                        description: description,
                        contactSummary: contactSummary,
                        nextContactTime: nextContactTime,
                        address: address
                    },
                    dataType: "json",
                    success: function (resp) {
                        if (resp.status === "1") {
                            // 成功关闭模态窗口
                            $("#editCustomerModal").modal("hide");
                            // 刷新客户列表
                            queryCustomerByConditionForPage(1, $("#page").bs_pagination('getOption', 'rowsPerPage'));
                        } else {
                            // 失败 提示信息
                            alert(resp.message);
                        }
                    }
                })
            })
            // ========== 入口函数 end ==========
        });

        // 分页展示
        function queryCustomerByConditionForPage(pageNo, pageSize) {
            // 收集参数
            let name = $.trim($("#search-name").val());
            let owner = $.trim($("#search-owner").val());
            let phone = $.trim($("#search-phone").val());
            let website = $.trim($("#search-website").val());

            // 发送请求
            $.ajax({
                url: "workbench/customer/queryCustomerByConditionForPage",
                type: "get",
                data: {
                    name: name,
                    owner: owner,
                    phone: phone,
                    website: website,
                    pageNo: pageNo,
                    pageSize: pageSize
                },
                dataType: "json",
                success: function (resp) {
                    let htmlStr = "";
                    $.each(resp.customerList, function (k, v) {
                        // 拼接页面
                        htmlStr += "<tr>";
                        htmlStr += "<td><input type=\"checkbox\" value=\"" + v.id + "\"></td>";
                        htmlStr += "<td>"
                        htmlStr += "<a onClick=\"window.location.href='detail.html?id=" + v.id + "';\" style=\"text-decoration: none; cursor: pointer;\">" + v.name + "</a>"
                        htmlStr += "</td>";
                        htmlStr += "<td>" + v.owner + "</td>";
                        htmlStr += "<td>" + v.phone + "</td>";
                        htmlStr += "<td>" + v.website + "</td>";
                        htmlStr += "</tr>";
                    })
                    // 每次拼接页面时, 取消全选复选框
                    $("#check-all").prop("checked", false);

                    $("#tbody-customerList").html(htmlStr);

                    // 计算总页数
                    let totalPages = 1;
                    totalPages = Math.ceil(resp.totalRows / pageSize); // 向上取整
                    // 分页按钮
                    $("#page").bs_pagination({
                        currentPage: pageNo, // 当前页面pageNo
                        rowsPerPage: pageSize, // 每页展示条数pageSize
                        totalRows: resp.totalRows, // 总条数
                        totalPages: totalPages, // 总页数
                        visiblePageLinks: 5, // 最多展示卡片数
                        showGoToPage: true, // 展示"跳转到"
                        showRowsPerPage: true, // 展示"显示每页条数"
                        showRowsInfo: true, // 展示"记录信息"
                        onChangePage: function (event, pageObj) {
                            // 用户每次切换页码, 都会触发此方法
                            // 每次返回切换后页码的pageNo, pageSize
                            queryCustomerByConditionForPage(pageObj.currentPage, pageObj.rowsPerPage);
                        }
                    });
                }
            })
        }

    </script>
</head>
<body>

<!-- 创建客户的模态窗口 -->
<div class="modal fade" id="createCustomerModal" role="dialog">
    <div class="modal-dialog" role="document" style="width: 85%;">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel1">创建客户</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" id="create-customerForm">

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="create-customerOwner">所有者<span
                                style="font-size: 15px; color: red;">*</span></label>
                        <div class="col-sm-10" style="width: 300px;">
                            <select class="form-control" id="create-customerOwner">
                                <option th:each="user:${userList}" th:value="${user.id}"
                                        th:text="${user.name}"></option>
                            </select>
                        </div>
                        <label class="col-sm-2 control-label" for="create-customerName">名称<span
                                style="font-size: 15px; color: red;">*</span></label>
                        <div class="col-sm-10" style="width: 300px;">
                            <input class="form-control" id="create-customerName" type="text">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="create-website">公司网站</label>
                        <div class="col-sm-10" style="width: 300px;">
                            <input class="form-control" id="create-website" type="text">
                        </div>
                        <label class="col-sm-2 control-label" for="create-phone">公司座机</label>
                        <div class="col-sm-10" style="width: 300px;">
                            <input class="form-control" id="create-phone" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="create-describe">描述</label>
                        <div class="col-sm-10" style="width: 81%;">
                            <textarea class="form-control" id="create-describe" rows="3"></textarea>
                        </div>
                    </div>
                    <div style="height: 1px; width: 103%; background-color: #D5D5D5; left: -13px; position: relative;"></div>

                    <div style="position: relative;top: 15px;">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="create-contactSummary">联系纪要</label>
                            <div class="col-sm-10" style="width: 81%;">
                                <textarea class="form-control" id="create-contactSummary" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="create-nextContactTime">下次联系时间</label>
                            <div class="col-sm-10" style="width: 300px;">
                                <input class="form-control date-time" id="create-nextContactTime" type="text" readonly>
                            </div>
                        </div>
                    </div>

                    <div style="height: 1px; width: 103%; background-color: #D5D5D5; left: -13px; position: relative; top : 10px;"></div>

                    <div style="position: relative;top: 20px;">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="create-address">详细地址</label>
                            <div class="col-sm-10" style="width: 81%;">
                                <textarea class="form-control" id="create-address" rows="1"></textarea>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal" type="button">关闭</button>
                <button class="btn btn-primary" type="button" id="saveBtn-customer">保存</button>
            </div>
        </div>
    </div>
</div>

<!-- 修改客户的模态窗口 -->
<div class="modal fade" id="editCustomerModal" role="dialog">
    <div class="modal-dialog" role="document" style="width: 85%;">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">修改客户</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" id="modifyCustomer-From">
                    <input id="edit-id" type="hidden">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="edit-owner">所有者<span
                                style="font-size: 15px; color: red;">*</span></label>
                        <div class="col-sm-10" style="width: 300px;">
                            <select class="form-control" id="edit-owner">
                                <option th:each="user:${userList}" th:value="${user.id}"
                                        th:text="${user.name}"></option>
                            </select>
                        </div>
                        <label class="col-sm-2 control-label" for="edit-name">名称<span
                                style="font-size: 15px; color: red;">*</span></label>
                        <div class="col-sm-10" style="width: 300px;">
                            <input class="form-control" id="edit-name" type="text" value="动力节点">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="edit-website">公司网站</label>
                        <div class="col-sm-10" style="width: 300px;">
                            <input class="form-control" id="edit-website" type="text"
                                   value="http://www.bjpowernode.com">
                        </div>
                        <label class="col-sm-2 control-label" for="edit-phone">公司座机</label>
                        <div class="col-sm-10" style="width: 300px;">
                            <input class="form-control" id="edit-phone" type="text" value="010-84846003">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="edit-description">描述</label>
                        <div class="col-sm-10" style="width: 81%;">
                            <textarea class="form-control" id="edit-description" rows="3"></textarea>
                        </div>
                    </div>

                    <div style="height: 1px; width: 103%; background-color: #D5D5D5; left: -13px; position: relative;"></div>

                    <div style="position: relative;top: 15px;">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="edit-contactSummary">联系纪要</label>
                            <div class="col-sm-10" style="width: 81%;">
                                <textarea class="form-control" id="edit-contactSummary" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="edit-nextContactTime">下次联系时间</label>
                            <div class="col-sm-10" style="width: 300px;">
                                <input class="form-control date-time" id="edit-nextContactTime" type="text" readonly>
                            </div>
                        </div>
                    </div>

                    <div style="height: 1px; width: 103%; background-color: #D5D5D5; left: -13px; position: relative; top : 10px;"></div>

                    <div style="position: relative;top: 20px;">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="edit-address">详细地址</label>
                            <div class="col-sm-10" style="width: 81%;">
                                <textarea class="form-control" id="edit-address" rows="1">北京大兴大族企业湾</textarea>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal" type="button">关闭</button>
                <button class="btn btn-primary" type="button" id="updateBtn">更新</button>
            </div>
        </div>
    </div>
</div>


<div>
    <div style="position: relative; left: 10px; top: -10px;">
        <div class="page-header">
            <h3>客户列表</h3>
        </div>
    </div>
</div>

<div style="position: relative; top: -20px; left: 0px; width: 100%; height: 100%;">

    <div style="width: 100%; position: absolute;top: 5px; left: 10px;">

        <div class="btn-toolbar" role="toolbar" style="height: 80px;">
            <form class="form-inline" role="form" style="position: relative;top: 8%; left: 5px;">

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">名称</div>
                        <input class="form-control" type="text" id="search-name">
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">所有者</div>
                        <input class="form-control" type="text" id="search-owner">
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">公司座机</div>
                        <input class="form-control" type="text" id="search-phone">
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">公司网站</div>
                        <input class="form-control" type="text" id="search-website">
                    </div>
                </div>

                <button class="btn btn-default" type="button" id="searchBtn">查询</button>

            </form>
        </div>
        <div class="btn-toolbar" role="toolbar"
             style="background-color: #F7F7F7; height: 50px; position: relative;top: 5px;">
            <div class="btn-group" style="position: relative; top: 18%;">
                <button class="btn btn-primary" type="button" id="createBtn">
                    <span class="glyphicon glyphicon-plus"></span> 创建
                </button>
                <button class="btn btn-default" type="button" id="modifyBtn"><span
                        class="glyphicon glyphicon-pencil"></span> 修改
                </button>
                <button class="btn btn-danger" type="button" id="removeBtn"><span
                        class="glyphicon glyphicon-minus"></span> 删除
                </button>
            </div>

        </div>
        <div style="position: relative;top: 10px;">
            <table class="table table-hover">
                <thead>
                <tr style="color: #B3B3B3;">
                    <td><input type="checkbox" id="check-all"></td>
                    <td>名称</td>
                    <td>所有者</td>
                    <td>公司座机</td>
                    <td>公司网站</td>
                </tr>
                </thead>
                <tbody id="tbody-customerList">
                <tr>
                    <td><input type="checkbox"/></td>
                    <td><a onclick="window.location.href='detail.html';"
                           style="text-decoration: none; cursor: pointer;">动力节点</a></td>
                    <td>zhangsan</td>
                    <td>010-84846003</td>
                    <td>http://www.bjpowernode.com</td>
                </tr>
                <tr>
                    <td><input type="checkbox"/></td>
                    <td><a onclick="window.location.href='detail.html';"
                           style="text-decoration: none; cursor: pointer;">动力节点</a></td>
                    <td>zhangsan</td>
                    <td>010-84846003</td>
                    <td>http://www.bjpowernode.com</td>
                </tr>
                </tbody>
            </table>
            <div id="page"></div>
        </div>

        <!--<div style="height: 50px; position: relative;top: 30px;">
            <div>
                <button class="btn btn-default" style="cursor: default;" type="button">共<b>50</b>条记录</button>
            </div>
            <div class="btn-group" style="position: relative;top: -34px; left: 110px;">
                <button class="btn btn-default" style="cursor: default;" type="button">显示</button>
                <div class="btn-group">
                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button">
                        10
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">20</a></li>
                        <li><a href="#">30</a></li>
                    </ul>
                </div>
                <button class="btn btn-default" style="cursor: default;" type="button">条/页</button>
            </div>
            <div style="position: relative;top: -88px; left: 285px;">
                <nav>
                    <ul class="pagination">
                        <li class="disabled"><a href="#">首页</a></li>
                        <li class="disabled"><a href="#">上一页</a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">下一页</a></li>
                        <li class="disabled"><a href="#">末页</a></li>
                    </ul>
                </nav>
            </div>
        </div>-->

    </div>

</div>
</body>
</html>