<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <base th:href="@{/}">
    <meta charset="UTF-8">
    <link href="jquery/bootstrap_3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="jquery/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="jquery/bs_pagination-master/css/jquery.bs_pagination.min.css" rel="stylesheet">

    <script src="jquery/jquery-1.11.1-min.js"></script>
    <script src="jquery/bootstrap_3.3.0/js/bootstrap.min.js"></script>
    <script src="jquery/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.min.js"></script>
    <script src="jquery/bootstrap-datetimepicker-master/locale/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="jquery/bs_pagination-master/js/jquery.bs_pagination.min.js"></script>
    <script src="jquery/bs_pagination-master/localization/zh.js"></script>
    <script src="jquery/bs_pagination-master/js/jquery.bs_pagination.min.js"></script>
    <script src="jquery/bs_pagination-master/localization/zh.js"></script>
    <script src="jquery/bs_typeahead/bootstrap3-typeahead.min.js"></script>

    <script th:inline="javascript">

        $(function () {
            // ========== 入口函数 start ==========


            //定制字段
            $("#definedColumns > li").click(function (e) {
                //防止下拉菜单消失
                e.stopPropagation();
            });

            // 日期选择插件
            $(".date-time").datetimepicker({
                language: "zh-CN",
                format: "yyyy-mm-dd",
                minView: "month",
                initialDate: new Date(),
                autoclose: true,
                todayBtn: true,
                clearBtn: true
            });

            // 全选按钮实现
            $("#check-all").click(function () {
                $("#tbody-paginationDisplay input[type='checkbox']").prop("checked", this.checked);
            });
            // 实现多选按钮功能
            $("#tbody-paginationDisplay").on("click", "input[type = 'checkbox']", function () {
                if ($("#tbody-paginationDisplay input[type='checkbox']").size() ===
                    $("#tbody-paginationDisplay input[type='checkbox']:checked").size()) {
                    $("#check-all").prop("checked", true);
                } else {
                    $("#check-all").prop("checked", false);
                }
            });

            // 默认展示10页
            pagination(1, 10);

            // 实现查询功能
            $("#searchBtn").click(function () {
                pagination(1, $("#page").bs_pagination('getOption', 'rowsPerPage'));
            })

            $("#create-customerName").typeahead({
                // 键盘弹起会自动触发该函数
                source: (jquery, process) => {
                    // 发送请求
                    $.ajax({
                        url: "workbench/customer/queryAllCustomerName",
                        type: "get",
                        data: {
                            name: jquery
                        },
                        dataType: "json",
                        success: (res) => {
                            let nameList = [];
                            $.each(res, (i, v) => {
                                nameList.push(v.name);
                            })
                            process(nameList);
                        }
                    })
                }
            });

            // 实现保存联系人
            $("#createBtn").click(function () {
                // 清空表单内容
                $("#create-contacts-from").get(0).reset();
                // 展示模态窗口
                $("#createContactsModal").modal("show");
            });
            $("#saveBtn").click(function () {
                // 收集参数
                let owner = $("#create-owner").val();
                let source = $("#create-source").val();
                let fullName = $.trim($("#create-fullName").val());
                let appellation = $("#create-appellation").val();
                let job = $.trim($("#create-job").val());
                let mPhone = $.trim($("#create-mPhone").val());
                let email = $.trim($("#create-email").val());
                let customerId = $("#create-customerName").val();
                let description = $.trim($("#create-description").val());
                let contactSummary = $.trim($("#create-contactSummary").val());
                let nextContactTime = $("#create-nextContactTime").val();
                let address = $.trim($("#create-address").val());

                // 验证内容
                if (fullName === "") {
                    alert("联系人姓名不能为空!");
                    return;
                }

                let mPhoneRegExp = /^1(3\d|4[5-9]|5[0-35-9]|6[567]|7[0-8]|8\d|9[0-35-9])\d{8}$/
                if (mPhone !== "" && !mPhoneRegExp.test(mPhone)) {
                    alert("手机号格式错误!");
                    return;
                }
                // 发送请求
                $.ajax({
                    url: "workbench/contacts/saveCreateContacts",
                    type: "post",
                    data: {
                        owner: owner,
                        source: source,
                        fullName: fullName,
                        appellation: appellation,
                        job: job,
                        mPhone: mPhone,
                        email: email,
                        customerId: customerId,
                        description: description,
                        contactSummary: contactSummary,
                        nextContactTime: nextContactTime,
                        address: address
                    },
                    dataType: "json",
                    success: res => {
                        if (res.status === "1") {
                            // 成功
                            $("#createContactsModal").modal("hide");
                            pagination(1, $("#page").bs_pagination('getOption', 'rowsPerPage'));
                        } else {
                            // 失败
                            alert(res.message);
                        }
                    }
                });
            })

            // 实现修改功能
            $("#edit-customerName").typeahead({
                // 键盘弹起会自动触发该函数
                source: (jquery, process) => {
                    // 发送请求
                    $.ajax({
                        url: "workbench/customer/queryAllCustomerName",
                        type: "get",
                        data: {
                            name: jquery
                        },
                        dataType: "json",
                        success: (res) => {
                            let nameList = [];
                            $.each(res, (i, v) => {
                                nameList.push(v.name);
                            })
                            process(nameList);
                        }
                    })
                }
            });
            $("#editBtn").click(function () {
                let checkIds = $("#tbody-paginationDisplay input[type='checkbox']:checked");
                if (checkIds.size() === 0) {
                    alert("请选择需要修改的联系人");
                    return;
                }
                if (checkIds.size() > 1) {
                    alert("一次只能修改一个联系人");
                    return;
                }
                let id = checkIds.val();

                // 发送请求
                $.ajax({
                    url: "workbench/contacts/queryContactsById",
                    type: "get",
                    data: {
                        id: id
                    },
                    dataType: "json",
                    success: res => {
                        // 填充参数
                        $("#edit-id").val(id);
                        $("#edit-owner").val(res.owner);
                        $("#edit-source").val(res.source);
                        $("#edit-fullName").val(res.fullName);
                        $("#edit-appellation").val(res.appellation);
                        $("#edit-job").val(res.job);
                        $("#edit-mPhone").val(res.mPhone);
                        $("#edit-email").val(res.email);
                        $("#edit-customerName").val(res.customerId);
                        $("#edit-description").val(res.description);
                        $("#edit-contactSummary").val(res.contactSummary);
                        $("#edit-nextContactTime").val(res.nextContactTime);
                        $("#edit-address").val(res.address);

                        // 展示模态窗口
                        $("#editContactsModal").modal("show");
                    }
                })
            })

            $("#editSaveBtn").click(function () {
                // 收集参数
                let id = $("#edit-id").val();
                let owner = $("#edit-owner").val();
                let source = $("#edit-source").val();
                let fullName = $.trim($("#edit-fullName").val());
                let appellation = $("#edit-appellation").val();
                let job = $.trim($("#edit-job").val());
                let mPhone = $.trim($("#edit-mPhone").val());
                let email = $.trim($("#edit-email").val());
                let customerId = $.trim($("#edit-customerName").val());
                let description = $.trim($("#edit-description").val());
                let contactSummary = $.trim($("#edit-contactSummary").val());
                let nextContactTime = $("#edit-nextContactTime").val();
                let address = $.trim($("#edit-address").val());

                // 内容格式验证
                if (fullName === "") {
                    alert("联系人姓名不能为空!");
                    return;
                }
                let mPhoneRegExp = /^1(3\d|4[5-9]|5[0-35-9]|6[567]|7[0-8]|8\d|9[0-35-9])\d{8}$/
                if (mPhone !== "" && !mPhoneRegExp.test(mPhone)) {
                    alert("手机号格式错误!");
                    return;
                }

                // 发送请求
                $.ajax({
                    url: "workbench/contacts/modifyContactsById",
                    type: "put",
                    data: {
                        id: id,
                        owner: owner,
                        source: source,
                        fullName: fullName,
                        appellation: appellation,
                        job: job,
                        mPhone: mPhone,
                        email: email,
                        customerId: customerId,
                        description: description,
                        contactSummary: contactSummary,
                        nextContactTime: nextContactTime,
                        address: address
                    },
                    dataType: "json",
                    success: res => {
                        if (res.status === "1") {
                            $("#editContactsModal").modal("hide");
                            pagination(1, $("#page").bs_pagination('getOption', 'rowsPerPage'));
                        } else {
                            alert(res.message)
                        }
                    }
                });
            })
            // ========== 入口函数 end ==========
        });

        // 分页展示
        function pagination(pageNo, pageSize) {
            // 收集参数
            let owner = $.trim($("#search-owner").val());
            let fullName = $.trim($("#search-fullName").val());
            let customerId = $.trim($("#search-customerId").val());
            let source = $.trim($("#search-source").val());

            // 发送请求
            $.ajax({
                url: "workbench/contacts/queryContactsByConditionPaging",
                type: "get",
                data: {
                    owner: owner,
                    fullName: fullName,
                    customerId: customerId,
                    source: source,
                    pageNo: pageNo,
                    pageSize: pageSize
                },
                dataType: "json",
                success: function (resp) {
                    let htmlStr = "";
                    $.each(resp.contactsList, function (i, v) {
                        // 拼接页面
                        htmlStr += "<tr>";
                        htmlStr += "<td><input type=\"checkbox\" value=\"" + v.id + "\"/></td>";
                        htmlStr += "<td><a onClick=\"window.location.href='detail.html';\" style=\"text-decoration: none; cursor: pointer;\">" + v.fullName + "</a></td>";
                        htmlStr += "<td>" + v.customerId + "</td>";
                        htmlStr += "<td>" + v.owner + "</td>";
                        htmlStr += "<td>" + v.source + "</td>";
                        htmlStr += "<td> - </td>";
                        htmlStr += "</tr>";
                    })
                    // 每次拼接页面时, 取消全选复选框
                    $("#check-all").prop("checked", false);

                    $("#tbody-paginationDisplay").html(htmlStr);

                    // 计算总页数
                    let totalPages = 1;
                    totalPages = Math.ceil(resp.totalRows / pageSize); // 向上取整
                    // 分页按钮
                    $("#page").bs_pagination({
                        currentPage: pageNo, // 当前页面pageNo
                        rowsPerPage: pageSize, // 每页展示条数pageSize
                        totalRows: resp.totalRows, // 总条数
                        totalPages: totalPages, // 总页数
                        visiblePageLinks: 5, // 最多展示卡片数
                        showGoToPage: true, // 展示"跳转到"
                        showRowsPerPage: true, // 展示"显示每页条数"
                        showRowsInfo: true, // 展示"记录信息"
                        onChangePage: function (event, pageObj) {
                            // 用户每次切换页码, 都会触发此方法
                            // 每次返回切换后页码的pageNo, pageSize
                            pagination(pageObj.currentPage, pageObj.rowsPerPage);
                        }
                    });
                }
            })
        }
    </script>
</head>
<body>


<!-- 创建联系人的模态窗口 -->
<div class="modal fade" id="createContactsModal" role="dialog">
    <div class="modal-dialog" role="document" style="width: 85%;">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" onclick="$('#createContactsModal').modal('hide');" type="button">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabelx">创建联系人</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" id="create-contacts-from">

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="create-owner">所有者<span
                                style="font-size: 15px; color: red;">*</span></label>
                        <div class="col-sm-10" style="width: 300px;">
                            <select class="form-control" id="create-owner">
                                <option th:each="user:${userList}" th:text="${user.name}"
                                        th:value="${user.id}"></option>
                            </select>
                        </div>
                        <label class="col-sm-2 control-label" for="create-source">来源</label>
                        <div class="col-sm-10" style="width: 300px;">
                            <select class="form-control" id="create-source">
                                <option></option>
                                <option th:each="source:${sourceList}" th:value="${source.id}"
                                        th:text="${source.value}"></option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="create-fullName">姓名<span
                                style="font-size: 15px; color: red;">*</span></label>
                        <div class="col-sm-10" style="width: 300px;">
                            <input class="form-control" id="create-fullName" type="text">
                        </div>
                        <label class="col-sm-2 control-label" for="create-appellation">称呼</label>
                        <div class="col-sm-10" style="width: 300px;">
                            <select class="form-control" id="create-appellation">
                                <option></option>
                                <option th:each="appellation:${appellationList}" th:value="${appellation.id}"
                                        th:text="${appellation.value}"></option>
                            </select>
                        </div>

                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="create-job">职位</label>
                        <div class="col-sm-10" style="width: 300px;">
                            <input class="form-control" id="create-job" type="text">
                        </div>
                        <label class="col-sm-2 control-label" for="create-mPhone">手机</label>
                        <div class="col-sm-10" style="width: 300px;">
                            <input class="form-control" id="create-mPhone" type="text">
                        </div>
                    </div>

                    <div class="form-group" style="position: relative;">
                        <label class="col-sm-2 control-label" for="create-email">邮箱</label>
                        <div class="col-sm-10" style="width: 300px;">
                            <input class="form-control" id="create-email" type="text">
                        </div>
                        <label class="col-sm-2 control-label" for="create-birth">生日</label>
                        <div class="col-sm-10" style="width: 300px;">
                            <input class="form-control" id="create-birth" type="text">
                        </div>
                    </div>

                    <div class="form-group" style="position: relative;">
                        <label class="col-sm-2 control-label" for="create-customerName">客户名称</label>
                        <div class="col-sm-10" style="width: 300px;">
                            <input class="form-control" id="create-customerName" placeholder="支持自动补全，输入客户不存在则新建"
                                   type="text" onkeyup="this.value=this.value.replace(/[, ]/g,'')">
                        </div>
                    </div>

                    <div class="form-group" style="position: relative;">
                        <label class="col-sm-2 control-label" for="create-description">描述</label>
                        <div class="col-sm-10" style="width: 81%;">
                            <textarea class="form-control" id="create-description" rows="3"></textarea>
                        </div>
                    </div>

                    <div style="height: 1px; width: 103%; background-color: #D5D5D5; left: -13px; position: relative;"></div>

                    <div style="position: relative;top: 15px;">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="create-contactSummary">联系纪要</label>
                            <div class="col-sm-10" style="width: 81%;">
                                <textarea class="form-control" id="create-contactSummary" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="create-nextContactTime">下次联系时间</label>
                            <div class="col-sm-10" style="width: 300px;">
                                <input class="form-control date-time" id="create-nextContactTime" type="text" readonly>
                            </div>
                        </div>
                    </div>

                    <div style="height: 1px; width: 103%; background-color: #D5D5D5; left: -13px; position: relative; top : 10px;"></div>

                    <div style="position: relative;top: 20px;">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="create-address">详细地址</label>
                            <div class="col-sm-10" style="width: 81%;">
                                <textarea class="form-control" id="create-address" rows="1"></textarea>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal" type="button">关闭</button>
                <button class="btn btn-primary" type="button" id="saveBtn">保存</button>
            </div>
        </div>
    </div>
</div>

<!-- 修改联系人的模态窗口 -->
<div class="modal fade" id="editContactsModal" role="dialog">
    <div class="modal-dialog" role="document" style="width: 85%;">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">修改联系人</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="edit-id">
                <form class="form-horizontal" role="form" id="editForm">

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="edit-owner">所有者<span
                                style="font-size: 15px; color: red;">*</span></label>
                        <div class="col-sm-10" style="width: 300px;">
                            <select class="form-control" id="edit-owner">
                                <option th:each="user:${userList}" th:value="${user.id}"
                                        th:text="${user.name}"></option>
                            </select>
                        </div>
                        <label class="col-sm-2 control-label" for="edit-source">来源</label>
                        <div class="col-sm-10" style="width: 300px;">
                            <select class="form-control" id="edit-source">
                                <option></option>
                                <option th:each="source:${sourceList}" th:value="${source.id}"
                                        th:text="${source.value}"></option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="edit-fullName">姓名<span
                                style="font-size: 15px; color: red;">*</span></label>
                        <div class="col-sm-10" style="width: 300px;">
                            <input class="form-control" id="edit-fullName" type="text" value="李四">
                        </div>
                        <label class="col-sm-2 control-label" for="edit-appellation">称呼</label>
                        <div class="col-sm-10" style="width: 300px;">
                            <select class="form-control" id="edit-appellation">
                                <option></option>
                                <option th:each="appellation:${appellationList}" th:value="${appellation.id}"
                                        th:text="${appellation.value}"></option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="edit-job">职位</label>
                        <div class="col-sm-10" style="width: 300px;">
                            <input class="form-control" id="edit-job" type="text" value="CTO">
                        </div>
                        <label class="col-sm-2 control-label" for="edit-mPhone">手机</label>
                        <div class="col-sm-10" style="width: 300px;">
                            <input class="form-control" id="edit-mPhone" type="text" value="12345678901">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="edit-email">邮箱</label>
                        <div class="col-sm-10" style="width: 300px;">
                            <input class="form-control" id="edit-email" type="text" value="lisi@bjpowernode.com">
                        </div>
                        <label class="col-sm-2 control-label" for="edit-birth">生日</label>
                        <div class="col-sm-10" style="width: 300px;">
                            <input class="form-control" id="edit-birth" type="text" readonly>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="edit-customerName">客户名称</label>
                        <div class="col-sm-10" style="width: 300px;">
                            <input class="form-control" id="edit-customerName" placeholder="支持自动补全，输入客户不存在则新建"
                                   type="text" onkeyup="this.value=this.value.replace(/[, ]/g,'')">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="edit-description">描述</label>
                        <div class="col-sm-10" style="width: 81%;">
                            <textarea class="form-control" id="edit-description" rows="3">这是一条线索的描述信息</textarea>
                        </div>
                    </div>

                    <div style="height: 1px; width: 103%; background-color: #D5D5D5; left: -13px; position: relative;"></div>

                    <div style="position: relative;top: 15px;">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="edit-contactSummary">联系纪要</label>
                            <div class="col-sm-10" style="width: 81%;">
                                <textarea class="form-control" id="edit-contactSummary" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="edit-nextContactTime">下次联系时间</label>
                            <div class="col-sm-10" style="width: 300px;">
                                <input class="form-control date-time" id="edit-nextContactTime" type="text" readonly>
                            </div>
                        </div>
                    </div>

                    <div style="height: 1px; width: 103%; background-color: #D5D5D5; left: -13px; position: relative; top : 10px;"></div>

                    <div style="position: relative;top: 20px;">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="edit-address">详细地址</label>
                            <div class="col-sm-10" style="width: 81%;">
                                <textarea class="form-control" id="edit-address" rows="1">北京大兴区大族企业湾</textarea>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal" type="button">关闭</button>
                <button class="btn btn-primary" type="button" id="editSaveBtn">更新</button>
            </div>
        </div>
    </div>
</div>


<div>
    <div style="position: relative; left: 10px; top: -10px;">
        <div class="page-header">
            <h3>联系人列表</h3>
        </div>
    </div>
</div>

<div style="position: relative; top: -20px; left: 0px; width: 100%; height: 100%;">

    <div style="width: 100%; position: absolute;top: 5px; left: 10px;">

        <div class="btn-toolbar" role="toolbar" style="height: 80px;">
            <form class="form-inline" role="form" style="position: relative;top: 8%; left: 5px;">

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">所有者</div>
                        <input class="form-control" type="text" id="search-owner">
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">姓名</div>
                        <input class="form-control" type="text" id="search-fullName">
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">客户名称</div>
                        <input class="form-control" type="text" id="search-customerId">
                    </div>
                </div>

                <br>

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">来源</div>
                        <select class="form-control" id="search-source">
                            <option></option>
                            <option th:each="source:${sourceList}" th:text="${source.value}"
                                    th:value="${source.id}"></option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">生日</div>
                        <input class="form-control" type="text">
                    </div>
                </div>

                <button class="btn btn-default" type="button" id="searchBtn">查询</button>

            </form>
        </div>
        <div class="btn-toolbar" role="toolbar"
             style="background-color: #F7F7F7; height: 50px; position: relative;top: 10px;">
            <div class="btn-group" style="position: relative; top: 18%;">
                <button class="btn btn-primary" type="button" id="createBtn">
                    <span class="glyphicon glyphicon-plus"></span> 创建
                </button>
                <button class="btn btn-default" type="button" id="editBtn"><span
                        class="glyphicon glyphicon-pencil"></span> 修改
                </button>
                <button class="btn btn-danger" type="button"><span class="glyphicon glyphicon-minus"
                                                                   id="deleteBtn"></span> 删除
                </button>
            </div>


        </div>
        <div style="position: relative;top: 20px;">
            <table class="table table-hover">
                <thead>
                <tr style="color: #B3B3B3;">
                    <td><input type="checkbox" id="check-all"/></td>
                    <td>姓名</td>
                    <td>客户名称</td>
                    <td>所有者</td>
                    <td>来源</td>
                    <td>生日</td>
                </tr>
                </thead>
                <tbody id="tbody-paginationDisplay">
                <tr>
                    <td><input type="checkbox"/></td>
                    <td><a onclick="window.location.href='detail.html';"
                           style="text-decoration: none; cursor: pointer;">李四</a></td>
                    <td>动力节点</td>
                    <td>zhangsan</td>
                    <td>广告</td>
                    <td>2000-10-10</td>
                </tr>
                <tr class="active">
                    <td><input type="checkbox"/></td>
                    <td><a onclick="window.location.href='detail.html';"
                           style="text-decoration: none; cursor: pointer;">李四</a></td>
                    <td>动力节点</td>
                    <td>zhangsan</td>
                    <td>广告</td>
                    <td>2000-10-10</td>
                </tr>
                </tbody>
            </table>
            <div id="page"></div>
        </div>

        <!--<div style="height: 50px; position: relative;top: 10px;">
            <div>
                <button class="btn btn-default" style="cursor: default;" type="button">共<b>50</b>条记录</button>
            </div>
            <div class="btn-group" style="position: relative;top: -34px; left: 110px;">
                <button class="btn btn-default" style="cursor: default;" type="button">显示</button>
                <div class="btn-group">
                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button">
                        10
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">20</a></li>
                        <li><a href="#">30</a></li>
                    </ul>
                </div>
                <button class="btn btn-default" style="cursor: default;" type="button">条/页</button>
            </div>
            <div style="position: relative;top: -88px; left: 285px;">
                <nav>
                    <ul class="pagination">
                        <li class="disabled"><a href="#">首页</a></li>
                        <li class="disabled"><a href="#">上一页</a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">下一页</a></li>
                        <li class="disabled"><a href="#">末页</a></li>
                    </ul>
                </nav>
            </div>-->
    </div>

</div>

</div>
</body>
</html>